@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*
This color is not working yet. Part of nav-bar
#nav-bar {
  background-color: #f0A116;
}

*/
.spacer {
  flex: 1 1 auto;
}

.user-nav-bar {
  background-color: #f0A116;
}

